.contenedor{
    width: 100%;
    height: 1200px;
    background-color: aqua;
}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(13, 73, 238);
}
.sociales{
    width: 100%;
    height: 400px;
    background-color: rgb(221, 24, 100);
}

